<style>
	/*
	Copy the styles below and paste in our styles.css file
	*/

	.grid-container{
		max-width: 1600px;
		margin: auto;
	}

	.grid-3 {
		width: 33%;
		float: left;
		padding: 50px;
	}

	.grid-image {
		display: block;
		border: solid 5px dimgrey;
		max-width: 300px;
		margin: auto;
	}

	.grid-content {
		margin: auto;
    padding: 40px;
		text-align: center;
    line-height: 24px;
    font-size: 20px;
	}

	.grid-link {
		text-decoration: none;
	}

	.grid-link button {
		display: block;
		border-radius: 1px;
		margin: auto;
		padding: 20px 40px;
		border: solid 4px;
	}

</style>

<!-- Copy and paste the code below after our banner div inside index.html -->
<!-- Grid Container Section -->
<div class="grid-container clear-floats">
	
	<div class="grid-3">
		<div class="card">
			<img class="grid-image" src="img/grid-image.jpg" />
			<p class="grid-content">
				This is the grid content area where we will add some content, and possibly a link somewhere.
			</p>
			<a href="" class="grid-link">
				<button>
					LEARN MORE
				</button>
			</a>
		</div>
	</div>

	<div class="grid-3">
		<div class="card">
			<img class="grid-image" src="img/grid-image.jpg" />
			<p class="grid-content">
				This is the grid content area where we will add some content, and possibly a link somewhere.
			</p>
			<a href="" class="grid-link">
				<button>
					LEARN MORE
				</button>
			</a>
		</div>
	</div>

	<div class="grid-3">
		<div class="card">
			<img class="grid-image" src="img/grid-image.jpg" />
			<p class="grid-content">
				This is the grid content area where we will add some content, and possibly a link somewhere.
			</p>
			<a href="" class="grid-link">
				<button>
					LEARN MORE
				</button>
			</a>
		</div>
	</div>


</div>
<!-- Grid Container Section End -->
