<style>
	/*
	Copy the styles below and paste in our styles.css file
	*/

	#navigation {
    padding-top: 20px;
  }

	#navigation a {
		display: inline-block;
	}


	.logo {
		/*
		Logo should be 468px by 60px
		*/
		float: left;
	}


	.links {
		float: right;
	}

	/* 
	Navigation link styles
	*/

	.links a {
		font-size: 18px;
		text-decoration: none;
		padding: 10px;
		color: black;
		letter-spacing: 2px;
	}

	.links a:hover {
		color: #c2369f;
		border: solid 2px #c2369f;
	}

	a.selectedLink {
		color: #c2369f;
		border: solid 2px #c2369f;
	}

</style>

<!-- Copy and paste the code below and nest in between container div inside index.html -->
<!-- Navigation Section -->
<div id="navigation" class="clear-floats">
	<a href="index.html" class="logo"><img src="img/logo.jpg" /></a>

	<div class="links">
		<a href="index.html" class="selectedLink">HOME</a>
		<a href="about.html">ABOUT</a>
		<a href="gallery.html">GALLERY</a>
		<a href="contact.html">CONTACT</a>	
	</div>

</div>
<!-- Navigation Section End -->