/* Global Styles */

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
}

.row {
	width: 100%;
	height: 100%;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.column {
	float: left;
	width: 33%;
	text-align: center;
}

/* Navigation Styles */

#navigation {}

.logo {
	width: 80px;
}

#navigation #links li {
	display: inline-block;
	padding-top: 20px;
}

#navigation #links li a {
	text-decoration: none;
	letter-spacing: 3.2px;
	font-weight: 300;
	color: #000;
	padding: 20px;
}

#navigation #links li a:hover {
	font-weight: 700;
	color: #333;
}

#navigation #links li a.active {
	font-weight: 700;
	color: #333;
}

/* Hero Styles */

#hero {
	padding: 300px 0;
	background-image: url("img/hero-image.jpg");
	background-size: : "cover";
	background-position: center;
	font-size: 60px;
	color: #FFF;
	text-align: center;

}

/* Main Content Styles */

#main-content {}

/* Footer Styles */

#footer {
	text-align: center;
}

@media only screen and (max-width: 640px) {
	.column {
		width: 100%;
	}
}